:root{
    --PrimaryColor: #4596D1;
    --HoverColor: #1469a6;
    --whiteColor: white;
    --blackColor: rgb(0, 0, 0);
    --textColor: rgb(114, 114, 114);
    --whiteColorDeam: rgba(255, 255, 255, 0.898);
    --greyBg: rgba(212, 212, 212, 0.898);
    --greyText: rgb(160, 160, 160);
    --inputColor: #ececec;
}

.logo-f{
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    letter-spacing: -2px;
    cursor: pointer;
    padding-bottom: .5rem;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    color: #031726;
}

.icon-f{
    color: var(--whiteColor);
    font-size: 35px;
    cursor: pointer;
}

.footer{
    background: var(--PrimaryColor);
    padding: 2rem 0;
}

.secContainer{
    gap: 1.5rem;
    text-align:  center;
}

.socials{
    gab: .5rem;
    margin: auto;
    justify-content: center;
}

.footerLinks{
    display: grid;
    row-gap: .2rem;
}

.linkTitle{
    padding-bottom: .5rem;
    color: var(--blackColor);
    font-weight: 700;
    font-size: 18px;
}

li{
    &:hover{
        transform: translateX(2px);
    }
}

.phone, .email{
    color: white;
    font-size: 13px;
    font-weight: 500;
}

.etec{
    color: #003964;
    padding-top: 30px;
    font-size: 15px;
}