:root{
    --PrimaryColor: #4596D1;
    --HoverColor: #1469a6;
    --whiteColor: white;
    --blackColor: rgb(44, 44, 44);
    --textColor: rgb(114, 114, 114);
    --whiteColorDeam: rgba(255, 255, 255, 0.898);
    --greyBg: rgba(212, 212, 212, 0.898);
    --greyText: rgb(160, 160, 160);
    --inputColor: #ececec;
    /*box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.434);*/
}

.popular{
    padding-top: 10rem;
}

.secHeader{
    flex-direction: column;
    align-items: flex-start;
    gab: 1rem;
}

.secTitle{
    color: var(--blackColor);
    line-height: 1.5rem;
    padding-bottom: .5rem;
}

p{
    color: var(--textColor);
    font-weight: 500;
}

.icon-popular{
    cursor: pointer;   
    padding: .5rem;
    margin: 0.3rem;
    background: var(--greyText);
    border-radius:  50%;
    font-size: 2.9rem;
    &:hover{
        background: black;
        color: var(--whiteColor);
    }
}

.iconsDiv{
    gab: 0.5rem;
}

.icon-p{
    font-size: 1.5rem;
    cursor: pointer;   
}


.mainContent{
    gab: 1rem;
}

.singleDestination{
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.434);
}

.destImage{
    height: 200px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

h3{
    color: var(--whiteColor);
    font-weight: 600;
}


.content-dest{
    padding-top: 30px;
}

.icon-info{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: .5rem;
    background: var(--PrimaryColor);
    font-size: 2.9rem;
    border-radius: 50%;
    color: var(--whiteColor);
    border: 1px solid transparent;
    transition: .2s ease;
    cursor: pointer;

    &:hover{
        background: var(--blackColor);
        border: 2px solid var(--PrimaryColor);
        color: var(--PrimaryColor);
    }
}


.destFooter{
    padding: 1rem;
}

.name{
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--blackColor);
    position: relative;
    width: max-content;
}

.destText{
    justify-content: space-between;
}

.destText h6{
    color: var(--blackColor);
    font-size: 13px;
}

.overlayInfo p{
    color: #cecbcb;
    font-size: 15px;
}

.icon-p{
    color: var(--PrimaryColor);
    font-size: 30px;
}

.description-text p{
    font-size: 15px;
    padding-bottom: 16px;
    padding-top: 10px;
}

.status{
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background: #e5e5e5;
    color: #1469a6;
    font-weight: 500;
}

.textDiv p{
    display: flex;
}

/*RESPONSIVIDADE*/

@media screen and (min-width: 480px) {
    .popular{
        padding-top: 10rem;
    }
    .singleDestination{
        margin: 10px;
    }
}

@media screen and (min-width: 556px) {
    .secHeader{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .textDiv{
        text-align: start;
        max-width: 70%;
    }

    .iconsDiv{
        justify-content: flex-end;
    }
}


/* esses medias arrumam a ligação do popular com a home pra eles desgrudarem*/
@media screen and (min-width: 720px) {
    .popular{
        padding-top: 7rem;
    }
}

@media screen and (min-width: 1024px) {
    .popular{
        padding-top: 10rem;
    }
    .mainContent{
        grid-template-columns: repeat(4,1fr);
        gap: 1.4rem !important;
    }
}

