:root {
    --PrimaryColor: #4596D1;
    --HoverColor: #1469a6;
    --whiteColor: white;
    --blackColor: rgb(0, 0, 0);
    --textColor: rgb(114, 114, 114);
    --whiteColorDeam: rgba(255, 255, 255, 0.898);
    --greyBg: rgba(212, 212, 212, 0.898);
    --greyText: rgb(160, 160, 160);
    --inputColor: #ececec;
}

.Sobre-Section-White .Sobre-container-Sobre {
    height: 60vh;
    background-image: linear-gradient(transparent -100%, #000000c7),
        url('../../Assets/images/us/grupo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.Sobre-homeText {
    text-align: center;
}

.SobreText {
    padding-top: 2em;
}

.SobreText p{
    font-size: 20px;
}

.Sobre-Title {
    color: var(--whiteColor);
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
    font-size: 2em;
}

.Sobre-subTitle {
    color: var(--whiteColor);
    opacity: .9;
    font-weight: 300;
    padding: 1rem 0;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.Sobre-row {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    gap: 1em;
    text-align: center;
    padding: 3em 1em;
}

.Sobre-column {
    width: 100%;
    padding: 0.5em 0;
}

.Sobre-card {
    box-shadow: 0 0 2.2em rgba(0, 0, 0, 0.43);
    padding: 3.5em 1em;
    border-radius: 0.6em;
    cursor: default;
}

.Sobre-card .imgProfile {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
}

.Sobre-card .foto {
    width: 100%;
    border-radius: 50%;
}

.Sobre-card h3 {
    font-weight: 500;
}

.Sobre-card p {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0.5rem 0 2rem 0;
    letter-spacing: 1px;
}

.social-icon {
    min-width: 50px;
    margin: auto;
    justify-content: space-between;
}

.social-icon:hover {
    color: #20045d;
}

.Sobre-card a {
    text-decoration: none;
    font-size: 1.4em;
}

.Sobre-card .imgProfile {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    margin: 0 auto 2em auto;
    transition: transform 0.3s ease-in-out;
}

.Sobre-card:hover .imgProfile {
    transform: scale(1.1);
}

@media screen and (min-width: 768px) {
    .Sobre-column {
        width: calc(48% - 1em);
    }

    .SobreText{
        font-size: 25px;
    }
    
    .SobreText p{
        font-size: 20px;
    }

}

@media screen and (min-width: 992px) {
    .Sobre-column {
        width: calc(32% - 1em);
    }

    .Sobre-row p{
        font-size: 1.2em;
    }
}
